<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 검색</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<input id="bookmarkId" type="hidden" th:value="${bookmarkId}"/>
<h2>도서 검색</h2>
<!--return false;는 폼의 onsubmit 이벤트 핸들러에서 사용될 때, 이벤트의 기본 동작을 취소하는 역할을 합니다.
    폼의 onsubmit 이벤트는 일반적으로 폼을 제출(submit)할 때 발생하며,
    이때 폼의 action 속성에 지정된 URL로 데이터를 전송하고 페이지를 새로고침하는 기본 동작을 합니다.-->

<label for="searchInput"></label>
<input type="text" id="searchInput"/>
<button id="book-search" type="submit" onclick="searchBooks()">검색</button>
<div id="bookSearchResult">

</div>
<button id="result-submit" type="button" onclick="saveBookmarkBookMapping()">다음</button>
<script>
    function searchBooks() {
        var searchInput = document.getElementById('searchInput').value;

        fetch("/api/book-search?param=" + encodeURIComponent(searchInput))
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                displaySearchResults(data);
            })
            .catch(error => {
                console.error("Error during book search:", error);
            });
    }

    function saveBookmarkBookMapping() {

        var selectedRows = getSelectedRows();
        // 이 부분에서 필요한 처리를 수행하고 DTO에 선택된 행 정보 추가
        console.log("Selected Rows:", selectedRows);

        // DTO 생성
        var saveBookmarkBookMappingObj = {
            bookmarkId: document.getElementById('bookmarkId').value,
            books: selectedRows
        };

        // Fetch options
        var saveBookmarkBookMappingRequest = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saveBookmarkBookMappingObj), // 객체 -> json
        };

        fetch("/api/bookmarkBookMapping", saveBookmarkBookMappingRequest)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log("Response Data:", data);
            })
            .catch(error => {
                console.error("Error during saveBookmarkBookMapping:", error);
            });


    }

    function getSelectedRows() {
        var table = document.querySelector('table');
        var checkboxes = table.querySelectorAll('input[type="checkbox"]:checked');
        var selectedRows = [];

        checkboxes.forEach(function (checkbox) {
            var row = checkbox.closest('tr');
            var rowData = {
                title: row.cells[2].innerText, // 제목
                pageUrl: row.cells[6].innerText, // 페이지URL
                imageUrl: row.cells[1].querySelector('img').src, // 이미지 URLcells
                author: row.cells[3].innerText, // 저자
                isbn: row.cells[4].innerText, // ISBN
                description: row.cells[5].innerText // 설명
            };
            selectedRows.push(rowData);
        });

        return selectedRows;
    }


    function displaySearchResults(response) {
        var resultDiv = document.getElementById('bookSearchResult');
        resultDiv.innerHTML = ''; // 이전 결과를 지움

        if (response.items.length === 0) {
            resultDiv.innerHTML = '<p>검색 결과가 없습니다.</p>';
            return;
        }

        var table = document.createElement('table');

        // 테이블 헤더 생성
        var headerRow = table.insertRow(0);
        var headers = ['선택', '이미지', '제목', '저자', 'isbn', '설명', '페이지'];
        for (var i = 0; i < headers.length; i++) {
            var th = document.createElement('th');
            th.innerHTML = headers[i];
            headerRow.appendChild(th);
        }

        // 테이블 본문 생성
        for (var i = 0; i < response.items.length; i++) {
            var item = response.items[i];
            var row = table.insertRow(i + 1);

            // 체크 박스 추가
            var checkboxCell = row.insertCell(0);
            var checkboxElement = document.createElement('input');
            checkboxElement.type = 'checkbox';
            checkboxCell.appendChild(checkboxElement);

            var imageCell = row.insertCell(1);
            var imageElement = document.createElement('img');
            imageElement.src = item.image; // 이미지 URL 설정
            imageElement.alt = 'Book Image'; // 대체 텍스트 설정
            imageElement.style.width = '200px'; // 이미지 크기 조절 (원하는 크기로 설정)
            imageCell.appendChild(imageElement);

            var authorCell = row.insertCell(2);
            authorCell.innerHTML = item.title;

            var publisherCell = row.insertCell(3);
            publisherCell.innerHTML = item.author;

            var isbnCell = row.insertCell(4);
            isbnCell.innerHTML = item.isbn;

            var descriptionCell = row.insertCell(5);
            descriptionCell.innerHTML = item.description;

            let pageUrlCell = row.insertCell(6);
            pageUrlCell.innerHTML = item.link;
        }

        resultDiv.appendChild(table);
    }
</script>