<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${bookmarkImageUrl}"></h1>
<h1 th:text="${bookmarkNickname}"></h1>
<h1 th:text="${bookmarkDescription}"></h1>
<div>
    <table>
        <thead>
        <tr>
            <th>개수</th>
            <th>제목</th>
            <th>페이지</th>
            <th>이미지</th>
            <th>저자</th>
            <th>ISBN</th>
            <th>설명</th>
        </tr>
        </thead>
        <tbody th:each="book : ${books}">
        <tr>
            <td th:text="${book.getCount()}"></td>
            <td th:text="${book.getBookTitle()}"></td>
            <td th:text="${book.getBookPageUrl()}"></td>
            <td th:text="${book.getBookImageUrl()}"></td>
            <td th:text="${book.getBookAuthor()}"></td>
            <td th:text="${book.getBookIsbn()}"></td>
            <td th:text="${book.getBookDescription()}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>