<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

  <h2>Questions</h2>

  <form th:action="@{/questions}" method="post" onsubmit="submitForm()">

    <div>
      <p th:text="${question1.getQuestionContent()}"></p>
    </div>
    <label>
      <input name="answer1" type="radio" value="1">
      <span th:text="${question1.getAnswers().get(0).content}"></span>
    </label>
    <label>
      <input name="answer1" type="radio" value="2">
      <span th:text="${question1.getAnswers().get(1).content}"></span>
    </label>

    <div>
      <p th:text="${question2.getQuestionContent()}"></p>
    </div>
    <label>
      <input name="answer2" type="radio" value="1">
      <span th:text="${question2.getAnswers().get(0).content}"></span>
    </label>
    <label>
      <input name="answer2" type="radio" value="2">
      <span th:text="${question2.getAnswers().get(1).content}"></span>
    </label>

    <div>
      <p th:text="${question3.getQuestionContent()}"></p>
    </div>
    <label>
      <input name="answer3" type="radio" value="1">
      <span th:text="${question3.getAnswers().get(0).content}"></span>
    </label>
    <label>
      <input name="answer3" type="radio" value="2">
      <span th:text="${question3.getAnswers().get(1).content}"></span>
    </label>

    <div>
      <p th:text="${question4.getQuestionContent()}"></p>
    </div>
    <label>
      <input name="answer4" type="radio" value="1">
      <span th:text="${question4.getAnswers().get(0).content}"></span>
    </label>
    <label>
      <input name="answer4" type="radio" value="2">
      <span th:text="${question4.getAnswers().get(1).content}"></span>
    </label>

    <input type="hidden" id="combinedAnswers" name="bookmarkTypeId">
   <br>
   <br>
   <br>

    <button type="submit">Submit Answers</button>
  </form>

</div>
<script>

  function submitForm() {
    var answer1 = document.querySelector('input[name="answer1"]:checked').value;
    var answer2 = document.querySelector('input[name="answer2"]:checked').value;
    var answer3 = document.querySelector('input[name="answer3"]:checked').value;
    var answer4 = document.querySelector('input[name="answer4"]:checked').value;

    var combinedAnswers = answer1 + answer2 + answer3 + answer4;

    // 폼에 추가 데이터를 입력하거나 필요에 따라 처리
    console.log(combinedAnswers);
    document.getElementById('combinedAnswers').value = combinedAnswers;
  }
</script>
</body>
</html>